body {
   background-color: #ffe37c;
   font-family: "Jolly Lodger", cursive;
   font-family: "Open Sans", sans-serif;
   color: #000;
}

input[type="radio"] {
   appearance: none;
}

.main {
   padding: 50px;
}

h1 {
   margin-bottom: 30px;
}

.container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 10px;
}

.main__container {
   margin: 20px 0;
}

.main__container .accardion-body {
   margin: 0 auto;
   height: 0;
   color: rgba(0, 0, 0, 0);
   background-color: transparent;
   line-height: 18px;
   padding: 0 30px;
   box-sizing: border-box;
   transition: color 0.5s, padding 0.5s;
   overflow: hidden;
   font-family: Verdana, sans-serif;
   font-size: 16px;
   transition: all 0.5s;
}

.main__container .accardion-body img {
   max-width: 700px;
   display: block;
   width: 100%;
   margin: 20px auto;
}

.accardion-head {
   border-bottom: 1px solid #000;
	font-weight: 700;
}

.main__container label {
   cursor: pointer;
   display: block;
   padding: 15px 20px;
   width: 100%;
   box-sizing: border-box;
   z-index: 100;
   font-family: Verdana, sans-serif;
   font-size: 18px;
   margin: 0 0 5px;
   transition: color 0.35s;
}

.main__container input {
   display: none;
}

.main__container label {
   position: relative;
   padding-right: 70px;
}

.close-btn {
	height: 30px;
   width: 30px;
   display: block;
   position: absolute;
   right: 20px;
   top: 8px;
	transform: rotate(45deg);
}

.main__container input[type="radio"]:checked + label .close-btn {
   transform: rotate(0deg);
}
.main__container input[type="radio"]:checked + label {
	color: #000;
}

.main__container input[type="radio"]:checked + label .accardion-body {
   height: auto;
   margin-top: -5px;
   color: #000;
   padding: 20px 30px 10px;
   transition: all 0.5s;
	opacity: 1;
}

.accardion-body {
	display: block;
	opacity: 0;
	transition: all 0.5s;
}

.main label .close-btn{
   opacity: 0;
   transition: all 0.3s;
}

.main:hover label .close-btn{
   opacity: 1;
   transition: all 0.3s;
}



.main label:active {
	fill: #20d3c4;
	color: #20d3c4;
	transition: all 0.1s;
}
.main label:active h4{
	color: #20d3c4;
	transition: all 0.3s;
}
.main label h4{
	transition: all 0.3s;
}

.main input[type="radio"] + label {
	color: #20d3c4;
}
.main:hover input[type="radio"] + label{
	color: #000;
}
input[type="radio"]:checked + label{
	color: #000;
}